.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header h1 {
  margin-left: 3rem;
}

.Header ul {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.Header li {
  margin: 1rem;
}

.Header a {
  text-decoration: none;
  color: inherit;
}
