.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
}

.Header h1 {
  margin-left: 3rem;
}

.Header ul {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.Header li {
  margin: 0 1rem;
}

.Header a {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  background-color: pink;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}

.nav-link:hover {
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.3rem gray;
}
